body {
    margin: 0;
    height: 100vh;


}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;

}
