body {
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    background: #F8FAFE;

}

.page {
    margin-top: 98px;
}

.container {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }
}


.header {
    position: fixed;
    background-color: #F8FAFE;
    border-bottom: 1px solid #010541;
    top: 0;
    right: 0;
    left: 0;


}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;


}

.logo {
    display: flex;
    align-items: baseline;
    column-gap: 7px;

}

.logo__caption {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

.logo__caption_colored {
    color: #f52;
}

.cart-icon {
    position: relative;
    padding: 12px 7px 0;
}

.cart-icon__button {
    border: none;
    background: none;
}



.cart-icon__counter {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-weight: 700;
    font-size: 10px;
    color: #081658;
    border: 1px solid #081658;
    border-radius: 51%;
    text-align: center;
    top: 0;
    right: 0;

}

.container__breadcrumbs {
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    gap: 4px;
}

.link {
    color: #008CF0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px
}

.link_small {
    font-size: 14px;
    color: #008CF0;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}



.container__product-name {
    margin: 0;
    margin-bottom: 30px;
}

.product-photo {
    display: flex;
    gap: 10px;
    font-size: 0;
    margin: 0;
    margin-bottom: 30px;
}

.product-photo__image {

    width: auto;
    height: 387px;
}

@media (max-width: 1499px) {
    .product-photo__image {
        max-height: 272px;

    }
}

.product-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.product-photo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container__content {

    margin-bottom: 100px;

}

.content {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;


}

@media (max-width: 1499px) {

    .content {
        column-gap: 40px;


    }
}

.content__left-side {
    display: flex;
    flex-direction: column;
    width: 62.8%;
}

@media (max-width: 1499px) {
    .content__left-side {
        width: auto;
    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.colors__name {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.colors__box {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.colors__button {
    width: 80px;
    height: 80px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #888888;
    border-radius: 4px;
    text-align: center;
    background: white;
}

.colors__button_chosen {
    border: 2px solid #F36223;
}

.colors__button:hover {
    border: 1px solid #888888;
    background: #F2F2F2;
}

.colors__button:active {
    border: 2px solid #A93A09;
    background: #FFFFFF;

}

.memory-config__name {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.memory-config__wrapper {
    display: flex;
    gap: 10px;
}

.memory-config__button {
    text-align: center;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: white;
}

.memory-config__button_chosen {
    border: 2px solid #F36223;
}

.memory-config__button:hover {
    border: 1px solid #888888;
    background: #F2F2F2;
}

.memory-config__button:active {
    border: 2px solid #A93A09;
    background: #FFFFFF;

}

.specification__name {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.specification__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image: url(./images/num.png);
    font-weight: 500;
    font-size: 16px;
}

.description__name {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}



.description__text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    margin-bottom: 30px;
}

@media (max-width: 1499px) {
    .description__text {
        margin-bottom: 44px;
    }
}

.text__paragraph {
    margin: 0;
}

/*сайдбар*/

.content__right-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    min-width: 420px;


}

@media (max-width: 1499px) {
    .content__right-side {
        min-width: 360px;
    }
}

.cover {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px 20px 20px;
}

.price-terms {
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.price-terms__price-old {
    color: #888888;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-right: 10px;
}

.price-terms__sale {
    display: inline-block;
    background: #F36223;
    border-radius: 500px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 8px;
    text-align: center;
}

.button-like {
    border: none;
    background: none;
    margin-left: auto;
    width: 30px;
    height: 30px;
    padding: 0;


}

.price-terms__like {

    width: 30px;
    height: 30px;
    fill: #888888;

}



.price-terms__like:hover {
    fill: #F36223;
}

.price-terms__like:active {
    fill: #A93A09;
}


.price__price-new {
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cover__delivery {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 35px;
}

.delivery__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.button-basket {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
    width: 100%;
    background-color: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 20px 0;
}

.button-basket::before {
    content: url(./images/kart.svg);

}

.button:hover {
    background: #DA4A0C;
    transition: 0.1s;
}

.button:active {
    background: #A93A09;
    transition: 0.1s;
}

/*реклама*/


.ad__title {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.ad__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.iframe-ad {
    background: #F0F0F0;
    border: 1px dashed #888888;
    height: 300px;
}

/*таблица*/

.models__table {

    margin-bottom: 50px;
}

.table {
    border-collapse: collapse;
    border: 1px solid #888888;


}

@media (max-width: 1499px) {
    .table {
        display: none;
    }
}


.table__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
}

.table__row {

    white-space: nowrap;
}

.table__row:hover {
    background: #F2F2F2;
}

.table__th {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #888888;
    padding: 10px;
}

.table__td {
    border-right: 1px solid #888888;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}




/*отзывы*/



.reviews__body {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 60px;
}


.caption {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caption__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 30px;
}

.caption__scorer {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
    margin-bottom: 30px;
}

.review {
    display: flex;
    flex-direction: row;
}

.review__photo {
    width: 140px;
    height: 140px;
    margin-right: 30px;
}

@media (max-width: 1499px) {
    .review__photo {
        width: 100px;
        height: 100px;
    }

}

.review__grade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.review__stars {
    display: flex;
    margin-bottom: 20px;
}

.star {
    height: 30px;

}

@media (max-width: 1499px) {
    .star {
        height: 20px;
    }
}


.review__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}

.review__hr {
    border-top: 1px dashed #888888;
    margin: 40px 0;
}

/*форма*/

.container__review-form {
    margin: 0;
    margin-left: 170px;
}

@media (max-width: 1499px) {
    .container__review-form {
        margin-left: 0;
    }
}

.review-form__caption {
    font-weight: 700;
    font-size: 16px;
    border: none;
    margin: 0;
    margin-bottom: 15px;
}

.review-form__fields {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 50px;
    margin: 0;
    margin-bottom: 30px;
}

.input {
    border: 1px solid #888888;
}

.input:focus {
    border: 1px solid #000000;
}

.input:hover {
    border: 1px solid #000000;
}


.input__placeholder_name {
    flex-grow: 1;
    height: 49px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
}


.input__placeholder_grade {

    height: 49px;
    width: 175px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
}

.input__placeholder_strech {
    height: 190px;
    flex-basis: 100%;
    padding-top: 15px;
    padding-left: 20px;
    resize: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "Inter", Verdana, sans-serif;
}

input::placeholder {
    color: #888888;
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 20px;
}

.review-form__button-review {
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
}





/*подвал*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    max-width: 1500px;
    margin: 0;
    padding: 30px 50px;
    box-sizing: border-box;

}

@media (max-width: 1499px) {
    .footer {
        padding: 30px 15px;
    }
}

.footer__text {
    font-size: 14px;
    margin: 0;
}

.footer__text_font_bold {
    font-weight: 700;
}

.footer__text_color_red {
    color: #f52;
}


.footer__up {
    margin-left: auto;
    align-content: center;
    border-radius: none;
    font-size: 16px;

}